{{#partial "content"}}
    <section id="page-header">
        <div class="valign-container">
            <div class="valign-element text-center ">
                <h1>FAQ - Frequently Asked Questions</h1>
            </div>
        </div>
    </section>
	<section id="faq-page">
	    <div class="container">
            <div class="panel-group" id="accordion">
                <div class="faqHeader">Account Requests</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why do I need an account?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            IMPACT is a repository for computer network communications data that can be used to develop new models, technologies and products to support effective threat assessment and increase cyber security capabilities. You may only access these data with a IMPACT account.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Who may have an account?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Researchers associated with verifiable organization in a DHS-approved location and who have a legitimate need may be granted access to IMPACT data. In addition, organizations that provide data to the researchers or host the data may hold accounts.
                            <br /><br />
                            DHS approved locations are listed <a href="#">here</a>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How do I get an account?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Click the account request button on our home page and follow the instructions to submit an account request.
                            <br /><br />
                            Read more about account requests <a href="#">here</a>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Who decides if I get an account?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            All applications for access to IMPACT are processed by the IMPACT Coordinating Center (ICC), which reviews each account request against account approval criteria.
                            <br /><br />
                            Foreign applications for accounts are reviewed by that country’s <a href="#">IMPACT Approval Coordinator (IAC).</a>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Why do I have to provide organization and authorized representative information on my account request?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Your account is based on your affiliation with a valid cyber security organization.
                            A representative of that organization must vouch for you as an employee or as someone
                            associated with the company's research efforts, and that your proposed research would
                            be approved under its auspices. Make sure your account request includes a valid authorized representative;
                            you may not list yourself as the authorization representative of your organization.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">How long does my account last?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Your account is valid for as long as you continue to access
                            the IMPACT portal or are associated with your organization.
                            If your account is idle for 12 months, the ICC will disable it.
                            If your account is disabled, you can re-establish the account
                            by contacting the ICC. If you leave your organization, your
                            account will be disabled and you must apply for a new account
                            under your new organization.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">How much does an account cost?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            IMPACT accounts and use of the data are free.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">How do I know if my information is safe?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            The information collected in the IMPACT portal,
                            including user information, is secured through
                            multi-tiered security protocols, including a
                            firewall and secure socket layer (SSL) certificate.
                            The system authenticates IDs and passwords before
                            allowing access. Access to your information is limited
                            to the ICC and hosts and providers of datasets you request.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">When do I get my user ID and password?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            When completing the account request form,
                            you will be asked to supply a preferred
                            user name and a temporary password. For
                            security reasons you will be required
                            to change the password on your first log in.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Are there rules about setting passwords?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes. You must use a mixture of letters,
                            numbers and punctuation. Passwords must
                            be between eight and 16 characters long
                            and cannot be common words or names used
                            in your daily life or found in the dictionary.
                            See <a href="#">Security</a> for a complete list of password requirements.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">What do I do if I have difficulty logging in?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you have difficulty logging
                            into the portal, email the ICC
                            (impact-contact@rti.org) or
                            call (USA) 1 800 957 6422 for assistance.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">What does my account get me?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you are a researcher, you will
                            be able to apply for access to any
                            of the datasets listed in the data catalog.
                            You may also communicate with the portal
                            administrators to report difficulties with,
                            or suggestions about, the site.
                            <br />
                              <br />
                            If you are a Data Provider, you will be able
                            to upload listings to the data catalog, perform
                            administrative tasks to maintain the listings,
                            participate in the Application Review Board and
                            access details of all requests for your data.
                              <br />  <br />
                            If you are a Data Host, you will be able
                            perform administrative tasks related to
                            hosting datasets in the data catalog and
                            access details of all requests for the data you host.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10">When do I get access to the data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            After your account as a researcher is approved,
                            you may apply for access to data by filling out
                            the form provided on the portal. You will be given
                            instructions on how to complete the request form;
                            there are different instructions for accessing each class of data.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11">What are the classes of data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            Data class is a designation chosen by a Data Provider to align data with terms and conditions for release and use and a sharing approval mechanism.
                            <br />  <br />
                            IMPACT has two sharing approval mechanisms: one is a click-through agreement between the ICC and the data requester; the other is a formal written agreement between the ICC and the data requester. The class of data you request determines the sharing mechanism you will use.
                            <br />  <br />
                            IMPACT currently uses five data classes and associated sharing approval mechanisms: Unrestricted (click-through), Quasi-Restricted (click-through), Unrestricted Non-Commercial (click-through), Quasi-Restricted Non-Commercial (click-through) and Restricted (formal written agreement). Any data provided in the Unrestricted, Unrestricted Non-Commercial, Quasi-Restricted, and Quasi-Restricted Non-Commercial categories will not include any restrictions on the use of the data other than on commercial use , as appropriate, and the ability for the Data Provider or ICC to vet Researchers prior to the provision of data to Researchers by a Data Host.
                            <br />  <br />
                            Unrestricted or Unrestricted Non-Commercial data may be used by approved Researchers without the approval of the relevant Data Provider(s) of the requested data.
                            <br />  <br />
                            Quasi-Restricted or Quasi-Restricted Non-Commercial data may only be used by Researchers upon the approval of the relevant Data Provider(s).
                            <br />  <br />
                            Restricted data requires the execution of a written Memorandum of Agreement and approval from the relevant Data Provider(s) and the Application Review Board, and may also require execution of a Data Use Agreement between the Researcher and the Data Provider.
                            <br />  <br />
                            The classes are defined as follows:
                            <ul>
                                <li><b style="font-weight:700!important;">Unrestricted</b>: Data in this class are released upon request after the click-through terms are agreed to by the requester and subject to the ICC’s ensuring, through its application review process, that the data requested are reasonably consistent with the stated use for the data in the request and the researcher’s agreeing to the terms of use.</li>
                                <br />
                                <li><b style="font-weight:700!important;">Unrestricted Non-Commercial</b>: Data in this class are released for non-commercial use upon request after the click-through terms are agreed to by the requester and subject to the ICC’s ensuring, through its application review process, that the data requested are reasonably consistent with the stated use for the data in the request.</li>
                                <br />
                                <li><b style="font-weight:700!important;">Quasi-Restricted</b>: Data in this class are released upon request after the click-through terms are agreed to by the requester and subject to both the ICC’s ensuring, through its application review process, that the data requested are reasonably consistent with the stated use for the data in the request, and the relevant Data Providers’ approving the request.</li>
                                <br />
                                <li><b style="font-weight:700!important;">Quasi-Restricted Non-Commercial</b>: Data in this class are released for non-commercial use upon request after the click-through terms are agreed to by the requester and subject to both the ICC’s ensuring, through its application review process, that the data requested are reasonably consistent with the stated use for the data in the request and the relevant Data Providers’ approving the request.</li>
                                <br />
                                <li><b style="font-weight:700!important;">Restricted</b>: Data in this class require the execution of a written Memorandum of Agreement by the requester with the ICC and approval from the relevant Data Provider(s) and the Application Review Board. Terms of use for this class may also require execution of a Data Use Agreement between the requester and the Data Provider.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="faqHeader">Dataset Requests</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12">Who can apply for datasets?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="panel-body">
                            Approved researchers who are conducting
                            cyber security research in DHS-approved
                            locations, such as the 50 United States, may apply.
                            Researchers authorized by selected international governments and organizations may also apply for datasets.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13">What types of data are available?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse">
                        <div class="panel-body">
                            The repository contains a mix of unrestricted,
                            unrestricted non-commercial, quasi-restricted,
                            quasi-restricted non-commercial and restricted
                            datasets. Use the data catalog to review listings
                             of available datasets in each class. Each listing
                             contains metadata describing the dataset and the
                             conditions for its use, which can range from an
                             online click-through agreement to an MOA with
                             Data Use Agreements. Review the terms and conditions
                             for each dataset carefully before applying.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14">Are there restrictions on using IMPACT data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse">
                        <div class="panel-body">
                            For restricted data there are requirements for
                            use that are set by the individual Data Providers.
                             Details of these restrictions are included in a
                             Memorandum of Agreement (MOA) and Data Use Agreement
                             (DUA) that will be sent to you when you apply for
                             access. Researchers will be held accountable for
                             all terms of use once dataset access is provided.
                            <br /><br />
                            For unrestricted, unrestricted non-commercial,
                            quasi-restricted or quasi-restricted non-commercial
                            data, there are few restrictions, but the researcher
                            must agree to a click-through Terms of Use Agreement
                            (TOU) before data can be shared.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15">How do I apply?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse15" class="panel-collapse collapse">
                        <div class="panel-body">
                            The first step is to select the
                            datasets you need and explain how they
                             will be used in your research project.
                             Submit your request using the online form.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16">Can I Request More than One Class of Data at a Time?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            No. Your dataset request cannot include datasets
                            from more than one class, although you may include
                            as many datasets are you need from the selected class
                            in your dataset request. You must create a separate
                            request for data in each class of interest to your project.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">What happens after I submit my dataset request?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse17" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you request unrestricted, unrestricted non-commercial,
                            quasi-restricted or quasi-restricted non-commercial data,
                            you will need to complete a click-through TOU. The ICC will
                            authorize release of any unrestricted data when you complete
                            the TOU. Release of any quasi-restricted data is contingent
                            on the approval of the Data Provider. Once that is granted,
                            the ICC will authorize release.
                            <br />
                            <br />
                            If you request restricted data, your next step is to sign a
                             MOA and any DUAs associated with the datasets that spell
                             out all terms and conditions, including special use conditions
                             set by Data Providers. The MOA/DUAs will be delivered to you
                             in an email confirming that your application has been received
                             by the ICC. These conditions will vary by dataset, so review
                             them carefully. The MOA(s) must be signed and returned to the
                             ICC before your application for datasets will be reviewed.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18">My research is highly confidential. How much do I have to tell you?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse18" class="panel-collapse collapse">
                        <div class="panel-body">
                           You will need to provide enough information about your
                           proposed research for the CC to understand if you have
                           selected the most appropriate data for your project.
                           The form asks for a brief synopsis of the work you intend
                           to pursue. The synopsis must also describe the relevance
                           to the dataset(s) you are requesting to your proposed
                           research. (i.e., if your goal is to develop intrusion
                           protection technology, do the datasets you requested
                           align with that objective?)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19">Who reviews my application?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse19" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you request unrestricted or unrestricted non-commercial data, there is no review.
                            <br /><br />
                            If you request quasi-restricted or quasi-restricted non-commercial data,
                            the provider of all the datasets you request will review your application.
                            <br /><br />
                            If you request restricted data, the Application Review Board (ARB) will
                            review your request. The ARB is chaired by the ICC. Its membership includes
                            the providers of the data you request and a representative of the cyber security research community.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                   <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20">How long does it take?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse20" class="panel-collapse collapse">
                        <div class="panel-body">
                            This depends on the class of data you are requesting.
                            <br /><br />
                            The approval process for unrestricted or unrestricted
                            non-commercial data requires a brief interval of up to
                            24 hours for the ICC to ensure that your request is complete.
                            The process for quasi-restricted or quasi-restricted non-commercial
                            data can take longer, depending on the time it takes for the
                            Data Provider to review the request. The process for restricted
                            data takes the longest because data use agreements and a
                            memorandum of agreement must be reviewed and signed by legal
                            counsel. The time frame for this process can be quite lengthy
                            depending on the providers involved.
                        </div>
                    </div>
               </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse21">Who has the last word on whether I get access to data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse21" class="panel-collapse collapse">
                        <div class="panel-body">
                            This also depends on the class of data you are requesting. See also <a href="#">"Applications"</a>
                            <br /><br />
                            For unrestricted or unrestricted non-commercial
                            dataset requests, approval is instantaneous via
                            a click-through agreement. Once you have agreed
                            to all the terms, you are approved to receive
                            the data after the ICC verifies your application is complete.
                            <br /><br />
                            For quasi-restricted or quasi-restricted
                            non-commercial data, the Data Provider
                            or providers must approve your request.
                            <br /><br />
                            For restricted data, the request must be approved by the Application Review Board, which includes the Data Providers.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse22">After I'm approved, how do I get the datasets?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse22" class="panel-collapse collapse">
                        <div class="panel-body">
                            How you get the datasets you’re approved for depends on the delivery
                            method provided by the Data Host. Transmission may be by CD,
                            DVD or disk by mail, FTP, HTTP/HTTPS or disc via SASE. You will
                            be advised by the Data Host which method they plan to use.
                            <br /><br />
                            You should contact the Data Host, who is listed on the My Impact > My Dataset Requests page,
                            to arrange delivery. You will need to log into the portal and navigate to the page to see this information.
                        </div>
                    </div>
                </div>

                <div class="faqHeader">Data Provider</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse23">What types of data can be donated?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse23" class="panel-collapse collapse">
                        <div class="panel-body">
                            IMPACT is interested in datasets that can help
                            researchers develop products, tools and strategies
                            to protect and defend against malicious attacks.
                            Current dataset categories include Address Space Allocation,
                            BGP Routing, Blackhole Address Space, DNS, IDS and
                            Firewall, Infrastructure, Internet Topology, IP Packet Headers,
                            Synthetically Generated, Traffic flow and Unsolicited Bulk Email data.
                            Any dataset that is donated should be reviewed by the provider’s
                            legal or ethical counsel to ensure compliance with corporate
                            policy and compliance obligations.
                            <br /><br />
                            If you are interested in providing data to IMPACT, fill
                            out <a href="#">this form</a> and email it to the ICC at impact-contact@rti.org.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse24">How do I add data to the catalog?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse24" class="panel-collapse collapse">
                        <div class="panel-body">
                            Data providers who hold accounts on the IMPACT
                            portal can make entries in the dataset catalog
                            by two methods: By bulk import following an XML schema
                            provided on the My Datasets page, or by manual
                            entry using a form on the page (a Data Provider account is required to access either page).
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse25">What if I want to remove a dataset?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse25" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can retire a dataset from the catalog using
                            the same tools described above. This will eliminate
                             any further access to that dataset. Researchers who
                             have already been granted access and are using the
                             dataset will not be affected.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse26">Do I have a say in who gets access to my data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse26" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes.
                            <br /><br />
                            If you provide unrestricted or unrestricted
                            non-commercial data, you agree to allow access
                            to any authorized researcher by the fact that you labeled the data unrestricted.
                            <br /><br />
                            In the case of quasi-restricted, quasi-restricted
                             non-commercial or restricted data, you will be
                             asked to approve each application for the data before it is released.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse27">How does dataset approval work?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse27" class="panel-collapse collapse">
                        <div class="panel-body">
                            For any unrestricted data: Approval is granted after the 
                            researcher completes and agrees to a Terms of Use Agreement (TOU) online.
                            <br /><br />
                            For any quasi-restricted data: Each dataset request is passed to 
                            you to review and approve before access is granted. This will be 
                            done using the portal to notify you of an application and to record your decision.
                            <br /><br />
                            For restricted data: Each dataset request is reviewed by the 
                            Application Review Board (ARB) before access is granted. As a provider, 
                            you will automatically be included in the ARB for requests for your 
                            quasi-restricted or restricted data. ARB votes are handled through the 
                            IMPACT portal. If someone requests your data, you will receive an email 
                            from the portal asking you to log in to the My ARB Issues page, review 
                            the application and record a vote on whether to allow access to sub-categories 
                            of data. You may approve the full request or partial list of sub-categories 
                            requested. Once the ARB votes are recorded, the researcher is notified of the result.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse28">What if I want to set special conditions for using my data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse28" class="panel-collapse collapse">
                        <div class="panel-body">
                            You may specify the circumstances
                            under which you will release restricted
                            data. Information such as proposed use
                            of the data and any special conditions are
                            included in a Memorandum of Agreement the
                            researcher must sign before access to
                            restricted data is granted. Typically, a
                            provider will use the DUA to lay out the terms
                            of use, publication permissions and other
                            restrictions that apply. The DUAs are agreements
                            between the researcher and the provider that are
                            included in the MOA but are managed outside of the ICC operation.
                            <br /><br />
                            By classifying data as unrestricted, unrestricted
                            non-commercial, quasi-restricted or quasi-restricted
                            non-commercial, you convey that there are no other
                            special conditions on use than are imposed by the ICC.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse29">What happens if a researcher is using data inappropriately?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse29" class="panel-collapse collapse">
                        <div class="panel-body">
                            Researchers must agree to meet all requirements
                            for use of the data when they apply for access.
                            If data are restricted and a DUA has been signed
                            between the Data Provider and researcher, a provider
                            may pursue legal action against any researcher who
                            is in violation of this agreement. Such legal
                            disputes must be managed between the provider and the researcher.
                            <br /><br />
                            The ICC has procedures to ensure that the terms in
                            click-through agreements and MOAs are complied with
                            and can terminate researcher use of data if it has
                            reason to believe that the terms are being violated.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse30">How do you control access from international researchers?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse30" class="panel-collapse collapse">
                        <div class="panel-body">
                            Only researchers located in DHS-approved international
                            locations may participate in IMPACT. Before these
                            researchers can be granted access to the IMPACT portal,
                            they must first be approved by an authorized IMPACT
                            Approval Coordinator (IAC) in their country.
                            
                            The PAC reviews the researcher's account request,
                            using the same protocol the ICC uses for US organizations,
                            and notifies the ICC of its decision to approve or reject
                            the organization. If the IAC approves the researcher,
                            the ICC will grant an account on the portal and the approved
                            researchers may apply for access. Dataset requests from
                            international researchers are handled in the same manner as U.S. requests.
                        </div>
                    </div>
                </div>
            </div>
            <div class="faqHeader">Researchers</div>
               <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse31">How do I request a dataset?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse31" class="panel-collapse collapse">
                        <div class="panel-body">
                            Request a dataset by completing all the steps required to apply for unrestricted, quasi-restricted or restricted data and submitting your request to the PREDICT Coordinating Center (ICC) for processing.
                            <br /><br />
                            A request starts with a search of our data catalog, where you will select the datasets of interest to you.
                            <br /><br />
                            You may browse our data catalog from the Home page but you must have an account to request data.
                            <br /><br />
                            If the data are classified as unrestricted or unrestricted non-commercial, you must complete the Terms of Use (TOU) click-through agreement to complete your request.
                            <br /><br />
                            If the data are classified as quasi-restricted or quasi-restricted non-commercial, you must complete the TOU but access is delayed until the provider approves.
                            <br /><br />
                            If the data are classified as restricted, you must complete a dataset request form and sign a Memorandum of Agreement (MOA) and Data Use Agreements (DUA) agreeing to terms of use. The ARB must review and approve your request and the ICC must execute the MOA before you can get access.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse32">How many datasets can I request?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse32" class="panel-collapse collapse">
                        <div class="panel-body">
                            You may request as many datasets as are necessary to complete your work. However, you may only submit a request for one classification at a time. You may not combine unrestricted, quasi- or restricted data into one request.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse33">Do I have to fill out a separate form for each dataset?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse33" class="panel-collapse collapse">
                        <div class="panel-body">
                            No. You can request multiple datasets from the same classification on the same form and can even include datasets for different research projects. The explanations for how the datasets will be used can be combined into one entry in the Request Reason text box.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse34">What happens if some, but not all of the datasets I want are approved?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse34" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you are not approved for all the datasets you request, you will only be allowed access to those datasets for which you are approved. You may reapply for any datasets for which you were not approved.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse35">How long does review take?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse35" class="panel-collapse collapse">
                        <div class="panel-body">
                            Review typically takes up to three weeks from the time you return the signed MOA to the ICC.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse36">How will I receive the data once I am approved?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse36" class="panel-collapse collapse">
                        <div class="panel-body">
                            You will receive the data in the manner specified by the designated Data Host, which is listed in the metadata for each dataset. Once you are approved, the host is notified and will contact you directly to make arrangements for transmission.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse37">How long can I use the data?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse37" class="panel-collapse collapse">
                        <div class="panel-body">
                            You are allowed access to approved datasets for 12 months from the date your application is approved.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse38">What do I do if I still need to use the data after my time limit expires?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse38" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you need more time with the data, you may apply for an extension of the time period. You will receive an application for extension in an email prior to the expiration date or you may request one from the ICC.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse38">What do I do if I’m finished using the dataset(s)?<i class="pull-right fa fa-caret-square-o-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapse38" class="panel-collapse collapse">
                        <div class="panel-body">
                           At the conclusion of your use of approved datasets, you must remove the data from your system and submit a Certificate of Disposal. You will receive the certificate in an email prior to the expiration date.
                        </div>
                    </div>
                </div>
             </div>
         </div>
        </div>
	</section>
{{/partial}}

{{> layouts/base}}