{{#partial "content"}}
    <section id="page-header">
        <div class="valign-container">
            <div class="valign-element text-center ">
                <h1>Help - Before Log In</h1>
            </div>
        </div>
    </section>
	<section id="faq-page">
	    <div class="container">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="sidebar-nav">
                          <div class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              <span class="visible-xs navbar-brand">Sidebar menu</span>
                            </div>
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                              <ul class="nav navbar-nav">
                                <li class="active"><a href="/help-before.hbs">Before Log In</a></li>
                                <li><a href="/help-after.hbs">After Log In</a></li>
                                <li><a href="/faq.hbs">FAQ</a></li>
                                <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
                              </ul>
                            </div><!--/.nav-collapse -->
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9">
                        <div class="panel-group" id="accordion">
                                         <div class="faqHeader-small">
                                         Before Log In
                                         </div>
                                         <div class = "panel" style="padding: 20px;">
                                          IMPACT, the Protected Repository for the Defense of
                                                 Infrastructure Against Cyber Threats, is a community
                                                 of providers of security-relevant network operations
                                                 data and researchers in networking and information security.
                                                 The repository provides developers and evaluators with
                                                 regularly updated network operations data relevant to
                                                 cyber defense technology development.
                                                 <br /><br />
                                                 IMPACT's public pages offer an overview of the project,
                                                 its participants and project areas, and allows access to
                                                 listings in the data catalog and research publications that used IMPACT datasets.
                                                 </div>
                                         <div class="panel panel-default">
                                             <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Data Repository Tab<i class="pull-right fa fa-caret-square-o-down"></i></a>
                                                 </h4>
                                             </div>
                                             <div id="collapseOne" class="panel-collapse collapse in">
                                                 <div class="panel-body">
                                                     The Data Repository tab displays information on:
                                                        <br /><br />
                                                     The Research Data Repository approach
                                                     <br /><br />
                                                     <ul>
                                                        <li>The IMPACT Sharing Methodology</li>
                                                        <li>The IMPACT Team of sponsor, providers, hosts and the IMPACT Coordinating Center (ICC)</li>
                                                        <li>General IMPACT Community information</li>
                                                        <li>A listing of Data Classes and Categories</li>
                                                        <li>A sampling of the Documents and Templates used in our work flow.</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="panel panel-default">
                                             <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                     <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Advisory Activities Tab<i class="pull-right fa fa-caret-square-o-down"></i></a>
                                                 </h4>
                                             </div>
                                             <div id="collapse2" class="panel-collapse collapse">
                                                 <div class="panel-body">
                                                     The Advisory Activities tab displays information concerning related IMPACT activities:

                                                     <br /><br />
                                                     <ul>
                                                        <li>Ethics of Cyber Security</li>
                                                        <li>Legal Awareness</li>
                                                        <li>Disclosure Control</li>
                                                     </ul>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="panel panel-default">
                                             <div class="panel-heading">
                                                 <h4 class="panel-title">
                                                     <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Research Publications Tab<i class="pull-right fa fa-caret-square-o-down"></i></a>
                                                 </h4>
                                             </div>
                                             <div id="collapse3" class="panel-collapse collapse">
                                                 <div class="panel-body">
                                                     The Research Publications Tab lists publications using IMPACT datasets by year.
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                    </div>
                </div>
	</section>
{{/partial}}

{{> layouts/base}}