{{#partial "content"}}
    <section id="page-header">
        <div class="valign-container">
            <div class="valign-element text-center ">
                <h1>Help - After Log In</h1>
            </div>
        </div>
    </section>
	<section id="faq-page">
	    <div class="container">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="sidebar-nav">
                          <div class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              <span class="visible-xs navbar-brand">Sidebar menu</span>
                            </div>
                            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                              <ul class="nav navbar-nav">
                                <li><a href="/help_overview.hbs">Help Overview</a></li>
                                <li><a href="/help-before.hbs">Before Log In</a></li>
                                <li class="active"><a href="/help-after.hbs">After Log In</a></li>
                                <li><a href="/faq.hbs">FAQ</a></li>
                                <li><a href="/about.hbs">About IMPACT</a></li>
                              </ul>
                            </div><!--/.nav-collapse -->
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9">
                        <div class="panel-group" id="accordion">
                                         <div class="faqHeader-small">
                                         After Log In
                                         </div>
                                         <div class = "panel" style="padding: 20px;">
                                          The role you hold on the portal guides what pages you can see after log in. Users may hold more than one role on the portal. There are four main roles:
                                            <br /><br />
                                          Researcher Role can see all public pages and the My Dataset Requests page. Researchers can perform these tasks on the portal:
                                            <br /><br />
                                          Create and submit a dataset request
                                          Review status of a dataset request
                                          Request additional data in approved sub-categories
                                          Confirm receipt of datasets
                                          Amend an MOA for restricted data to add or remove members of the research team
                                          Extend the term of access to data
                                          Change name and email address
                                          Change contact and organizational information
                                          Reset password
                                          Data Provider role can see all public pages and the My Datasets and My ARB Issues page. Providers can perform these tasks on the portal:
                                            <br /><br />
                                          Review and vote on requests for access to their data
                                          Manage data listed in the data catalog
                                          Upload metadata for a new listing in the catalog
                                          Generate reports
                                          Change name and email address
                                          Change contact and organizational information
                                          Reset password
                                          Data Host role can see all public pages and the My Hosted Datasets page. Hosts can perform these tasks on the portal:
                                            <br /><br />
                                          Manage access instructions for data they host
                                          Confirm delivery of datasets
                                          Generate reports
                                          Change name and email address
                                          Change contact and organizational information
                                          Reset password
                                          PAC role can see all public pages and the International Account Requests page. PACs can perform these tasks on the portal:
                                            <br /><br />
                                          Review account requests from their respective countries
                                          Record a decision on whether the request is approved or rejected
                                          View history of account requests from their respective countries
                                          See also "Portal User Roles and Responsibilities" for a complete list of roles and access.
                                                <br /><br />
                                          My ARB Issues
                                          <br /><br />
                                          Application Review Board Process
                                          <br /><br />
                                          Application Review Board Email Notifications
                                          <br /><br />
                                          My Dataset Requests
                                          <br /><br />
                                          Request Datasets
                                          <br /><br />
                                          Use of a Dataset
                                          <br /><br />
                                          My Datasets
                                          <br /><br />
                                          Prepare Data for Uploading
                                          <br /><br />
                                          Upload a Dataset
                                          <br /><br />
                                          Update Data
                                          <br /><br />
                                          My Hosted Datasets
                                          <br /><br />
                                          View Dataset Request Details
                                     </div>
                    </div>
                </div>
	</section>
{{/partial}}

{{> layouts/base}}