{{#partial "content"}}
    <section id="page-header">
        <div class="valign-container">
            <div class="valign-element text-center ">
                <h1>Help</h1>
            </div>
        </div>
    </section>
	<section id="faq-page">
	    <div class="container">
            <div class="panel-group" id="accordion">
                 <div class="faqHeader">
                 Welcome, Impact User
                 </div>
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">User Guide Organization<i class="pull-right fa fa-caret-square-o-down"></i></a>
                         </h4>
                     </div>
                     <div id="collapseOne" class="panel-collapse collapse in">
                         <div class="panel-body">
                             Information in this guide is organized by pages of the IMPACT portal, grouped by public and secure pages.
                             Navigate help information using the navigation on the left. Click the topic name to display the information.
                         </div>
                     </div>
                 </div>
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">User Guide Search<i class="pull-right fa fa-caret-square-o-down"></i></a>
                         </h4>
                     </div>
                     <div id="collapse2" class="panel-collapse collapse">
                         <div class="panel-body">
                             Information in this guide is organized by pages of the IMPACT portal, grouped by public and secure pages.
                             Navigate help information using the navigation on the left. Click the topic name to display the information.
                         </div>
                     </div>
                 </div>
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h4 class="panel-title">
                             <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Drill Down<i class="pull-right fa fa-caret-square-o-down"></i></a>
                         </h4>
                     </div>
                     <div id="collapse3" class="panel-collapse collapse">
                         <div class="panel-body">
                             Information in this guide is organized by pages of the IMPACT portal, grouped by public and secure pages.
                             Navigate help information using the navigation on the left. Click the topic name to display the information.
                         </div>
                     </div>
                 </div>
             </div>

            The IMPACT Coordinating Center is currently operated by US International in San Diego, California. We welcome your feedback.
            <br /><br />
            Contact us at:
            <br /><br />
            Phone: + 1 800 957 6422 (USA)
            <br /><br />
            Email: impact-contact@rti.org
        </div>
	</section>
{{/partial}}

{{> layouts/base}}