{{#partial "content"}}
    <section id="page-header">
        <div class="valign-container">
            <div class="valign-element text-center ">
                <h1>Help - Overview</h1>
            </div>
        </div>
    </section>
	<section id="help-page">
	    <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="sidebar-nav">
                  <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="/help-before.hbs">Before Log In</a></li>
                        <li><a href="/help-after.hbs">After Log In</a></li>
                        <li><a href="/faq.hbs">FAQ</a></li>
                        <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
                      </ul>
                    </div><!--/.nav-collapse -->
                  </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="panel-group" id="accordion">
                                 <div class="faqHeader-small">
                                 Welcome to IMPACT. This user guide contains information important to your use of the IMPACT portal.
                                 </div>
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         <h4 class="panel-title">
                                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">User Guide Organization<i class="pull-right fa fa-caret-square-o-down"></i></a>
                                         </h4>
                                     </div>
                                     <div id="collapseOne" class="panel-collapse collapse in">
                                         <div class="panel-body">
                                             Information in this guide is organized by pages of the IMPACT portal, grouped by public and secure pages.
                                             Navigate help information using the navigation on the left. Click the topic name to display the information.
                                         </div>
                                     </div>
                                 </div>
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         <h4 class="panel-title">
                                             <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">User Guide Search<i class="pull-right fa fa-caret-square-o-down"></i></a>
                                         </h4>
                                     </div>
                                     <div id="collapse2" class="panel-collapse collapse">
                                         <div class="panel-body">
                                             Information in this guide is organized by pages of the IMPACT portal, grouped by public and secure pages.
                                             Navigate help information using the navigation on the left. Click the topic name to display the information.
                                         </div>
                                     </div>
                                 </div>
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         <h4 class="panel-title">
                                             <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Drill Down<i class="pull-right fa fa-caret-square-o-down"></i></a>
                                         </h4>
                                     </div>
                                     <div id="collapse3" class="panel-collapse collapse">
                                         <div class="panel-body">
                                             Information in this guide is organized by pages of the IMPACT portal, grouped by public and secure pages.
                                             Navigate help information using the navigation on the left. Click the topic name to display the information.
                                         </div>
                                     </div>
                                 </div>
                             </div>

                            The IMPACT Coordinating Center is currently operated by US International in San Diego, California. We welcome your feedback.
                            <br /><br />
                            Contact us at:
                            <br /><br />
                            Phone: + 1 800 957 6422 (USA)
                            <br /><br />
                            Email: impact-contact@rti.org
              </div>
            </div>
        </div>
	</section>
{{/partial}}

{{> layouts/base}}