{{# partial "content"}}
	<!--HOME-->		
    		<section id="sec_1" class="autoheight">
    			<div class="home-bg"></div>
    			<div class="col-lg-12 landing-text-pos align-center">
    				<h1 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Welcome to <span style="color:#0F6B3E;">Impact</span></h1>
    				<hr id="title_hr"/>
    				<p style="margin-bottom:20px"><input type="text" class="form-control email-add" name="search" placeholder="Search Publications"><i></i>
    				<p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s"><i>"Lorem ipsum dolor sit amet, ad eos.... "</i>
    				<a class="learn-more-btn btn-effect wow animated fadeIn" data-wow-duration="0.5s" data-wow-delay="1.5s" data-scroll href="#swag">Register</a>
    			</div>
    		</section>
    		<!--/HOME-->

    		<!--Who We Are-->
            <section class="intro text-center section-padding" id="whoWeAre">
    			<div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    				<div class="row">
    					<div class="col-lg-8 align-center about">
    						<h1 class="arrow">Who We Are</h1>
    						<hr>
    						<p>Lorem ipsum dolor sit amet, ad eos iriure corpora prodesset. Partem timeam at vim, mel veritus accusata ea. Ius ei dicam inciderint, eleifend deseruisse ei mea. Alia dicam eam te, summo exerci ei mei.Ei sea debet choro omittantur. Ea nam quis aeterno, et usu semper senserit.</p>
    					</div>
    				</div>
    			</div>
            </section>
    		<!--/ABOUT-->


            <!--Team-->
            <section class="features text-center" id="team">
    			<div class="row">
    				<div id="" class="grid-gallery">
    					<section class="grid-wrap">
    						<div class="grid-gal">
    							<figure class="block-hover 3d-gallery col-lg-3 col-sm-12">
    								<a href="/sample-page.hbs">
    									<span>IMPACT Team  <i class="fa fa-chevron-right"></i></span>
    								</a>
    							</figure>
    						</div>
    					</section>
    					<!--grid wrap-->
    				</div>
    				<!-- /grid-gallery -->

    				<div class="container col-lg-6 col-md-12 features-md">
    					<div class="row">
    						<div class="col-md-12">
    							<div class="features-wrapper">
    								<div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
    									<div class="icon">
    									  720+
    									</div>
    									<h2>Publications</h2>
    									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis interdum.</p>
    								</div>

    								<div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
    									<div class="icon">
    									 100+
    									</div>
    									<h2>Contributors</h2>
    									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis interdum.</p>
    								</div>

    								<div class="col-md-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
    									<div class="icon">
    									  32+
    									</div>
    									<h2>Moderators</h2>
    									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis interdum.</p>
    								</div>
    								<div class="clearfix"></div>
    							</div>
    						</div>
    						<div style="margin-bottom:30px;" class="col-md-12">
    						    <a class="btn btn-about" href="/sample-page.hbs">IMPACT External Relations Council  <i class="fa fa-chevron-right"></i></a>
    						    <div class="clearfix"></div>
    						</div>

    					</div>
    				</div>

    				<!-- Vimoe Video-->
    				<div class="grid-gal">
    				  <figure class="block-hover vimeo-video col-lg-3 col-sm-12">
    					<a class="venoboxvid" data-type="vimeo"  href="/sample-page.hbs" target="_self">
    						<span>IMPACT Community  </span>
    					</a>
    				  </figure>
    				</div>

    			</div><!--row ends here-->
            </section>
            <!--/FEATURES-->

            <!--What We Do-->
            <section class="team text-center section-padding" id="whatwedo">
    			<div class="container">
    				<div class="row">
    				  <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="1s">
    					<h1 class="arrow">What We Do</h1><hr>
    					<p>Lorem ipsum dolor sit amet, alia honestatis an qui, ne soluta nemore eripuit sed. Falli exerci aperiam ut his, prompta feugiat usu minimum delicata.</p>
    				  </div>
    				</div>
    				<div class="row">
    					<div class="speakers-wrap">
    						<div id="portfolioSlider">
    							<ul class="slides">
    								<li>
    									<div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
    										<div class="overlay-effect effects clearfix">
    											<div class="img">
    											  <img src="assets/img/team/team1.jpg" alt="Portfolio Item">
    											  <div class="overlay">
    												<button class="md-trigger expand" data-modal="modal-9"><i class="fa fa-search"></i><br>Research</button>
    											  </div>
    											</div>
    										</div>
    									</div>

    									<div class="col-md-6 col-sm-6 col-xs-12 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
    										<div class="overlay-effect effects clearfix">
    											<div class="img">
    												<img src="assets/img/team/team2.jpg" alt="Portfolio Item">
    												<div class="overlay">
    													<button class="md-trigger expand" data-modal="modal-9"><i class="fa fa-flash"></i><br>Advisory Activities</button>
    												</div>
    											</div>
    										</div>
    									</div>
    								</li>
    							</ul>
    						</div>
    					</div>
    				</div> <!--Row Ends Here-->
    			</div>
    			<!-- Example Speaker -->
    			<div class="md-modal md-effect-9" id="modal-9">
    				<div class="md-content">
    					<div class="folio">
    						<div class="avatar"></div>
    						<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
    						<div class="sp-dsc">
    						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
    							<blockquote>
    							<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
    							</blockquote>
    						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
    						</div>
    						<div class="sp-social">
    							<ul>
    								<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
    								<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
    								<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
    							</ul>
    						</div>
    						<button class="md-close"><i class="fa fa-times"></i></button>
    					</div>
    				</div>
    			</div>
    			<div class="md-overlay"></div>
    			<!-- /Example Speaker -->
            </section>
    		<!--/What we Do-->

            <!--About Our Data-->
            <section class="team text-center section-padding" id="aboutourdata">
    			<div class="container">
    				<div class="row">
    				  <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="1s">
    					<h1 class="arrow">About Our Data</h1><hr>
    					<p>Lorem ipsum dolor sit amet, alia honestatis an qui, ne soluta nemore eripuit sed. Falli exerci aperiam ut his, prompta feugiat usu minimum delicata.</p>
    				  </div>
    				</div>
    				<div class="row">
    					<div class="speakers-wrap">
    						<div id="portfolioSlider">
    							<ul class="slides">
    								<li>
    									<div class="col-md-4 col-sm-4 col-xs-12 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
    										<div class="overlay-effect effects clearfix">
    											<div class="img">
    											  <img src="assets/img/team/team1.jpg" alt="Portfolio Item">
    											  <div class="overlay">
    												<button class="md-trigger expand" data-modal="modal-9"><i class="fa fa-database"></i><br>Data Classes</button>
    											  </div>
    											</div>
    										</div>
    									</div>

    									<div class="col-md-4 col-sm-4 col-xs-12 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
    										<div class="overlay-effect effects clearfix">
    											<div class="img">
    												<img src="assets/img/team/team2.jpg" alt="Portfolio Item">
    												<div class="overlay">
    													<button class="md-trigger expand" data-modal="modal-9"><i class="fa fa-list"></i><br>Data Categories</button>
    												</div>
    											</div>
    										</div>
    									</div>

    									<div class="col-md-4 col-sm-4 col-xs-12 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                                        	<div class="overlay-effect effects clearfix">
                                        		<div class="img">
                                        			<img src="assets/img/team/team2.jpg" alt="Portfolio Item">
                                        			<div class="overlay">
                                        				<button class="md-trigger expand" data-modal="modal-9"><i class="fa fa-external-link"></i><br>Accessing Our Data</button>
                                        			</div>
                                        		</div>
                                        	</div>
                                       </div>
    								</li>
    							</ul>
    						</div>
    					</div>
    				</div> <!--Row Ends Here-->
    			</div>
    			<!-- Example Speaker -->
    			<div class="md-modal md-effect-9" id="modal-9">
    				<div class="md-content">
    					<div class="folio">
    						<div class="avatar"></div>
    						<div class="sp-name"><strong>Mark Anderson</strong><br/>Director, ABC</div>
    						<div class="sp-dsc">
    						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
    							<blockquote>
    							<p>Here is a long quotation here is a long quotation proin gravida nibh vel velit auctor aliquet aenean sollicitudin.</p>
    							</blockquote>
    						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
    						</div>
    						<div class="sp-social">
    							<ul>
    								<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
    								<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
    								<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
    							</ul>
    						</div>
    						<button class="md-close"><i class="fa fa-times"></i></button>
    					</div>
    				</div>
    			</div>
    			<div class="md-overlay"></div>
    			<!-- /Example Speaker -->
            </section>
            <!--/About Our Data-->

            <!--REGISTER FORM-->
            <section id="swag" class="swag text-center">
    			<div class="container">
    				<div class="row">
    					<div class="col-lg-9 align-center">
    						<form id="nl-form" class="nl-form ">
    							Hi! My name is
    							<input id="name" type="text" name="name" placeholder="Enter your name" data-subline="Enter your name"/>.
    							I would like to register for the
    							<select id="field_1">
    								<option value="1" selected>Individual</option>
    								<option value="2">Business</option>
    								<option value="3">Institution</option>
    								<option value="4">Government</option>
    							</select> pack.
    							Contact me on
    							<input id="email1" type="text" name="email1" placeholder="My Email address" data-subline="Enter your email address"/>
    							<div class="nl-submit-wrap">
    								<button class="nl-submit btn-effect" type="submit" id="submit_btn">Submit</button>
    							</div>
    							<div id="result"></div>
    							<div class="nl-overlay"></div>
    						</form>
    						<div class="md-modal md-effect-9" id="modal-10">
    							<div class="md-content padding-none">
    								<div class="folio">

    									<div class="sp-name disclaimer"><strong>Terms and Conditions</strong></div>
    									<div class="sp-dsc disclaim-border">
    									<ul>
    										<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua.</li>
    										<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    										<li>Excepteur sint occaecat cupidatat non proident.</li>
    									</ul>
    									</div>

    									<button class="md-close"><i class="fa fa-times"></i></button>
    								</div>
    							</div>
    						</div>
    						<div class="col-md-12 tc">Please read the<button class="md-trigger" data-modal="modal-10">Terms & Conditions</button>carefully.</div>
    						<!-- the overlay element -->
    						<div class="md-overlay"></div>
    					</div>
    				</div>
    			</div>
            </section>
    		<!-- /REGISTER FORM -->

           <!--SPONSORS-->
            <div id="news" class="ignite-cta text-center section-padding">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
    						<h1 class="arrow">News and Blogs</h1><hr>
    						<p>Lorem ipsum dolor sit amet, alia honestatis an qui, ne soluta nemore eripuit sed. Falli exerci aperiam ut his, prompta feugiat usu minimum delicata.</p>
    					</div>
    					<div style="margin-bottom:30px;margin-top:30px;" class="col-md-12">
                            	<a class="btn btn-about" href="/sample-page.hbs">News  <i class="fa fa-newspaper-o"></i></a>
                            	<a class="btn btn-about" href="/sample-page.hbs">Blogs  <i class="fa fa-paper-plane-o"></i></a>
                                <div class="clearfix"></div>
                         </div>
    					<!-- Jssor Slider Begin -->
    					<div id="slider1_container" style=" ">
    						<div class="inner_carousal" data-u="slides" style="">
    							<div><img alt="sp1" src="assets/img/sponsor/sp1.png" /></div>
    							<div><img alt="sp2" src="assets/img/sponsor/sp2.png" /></div>
    							<div><img alt="sp3" src="assets/img/sponsor/sp3.png" /></div>
    							<div><img alt="sp4" src="assets/img/sponsor/sp4.png" /></div>
    							<div><img alt="sp5" src="assets/img/sponsor/sp5.png" /></div>
    							<div><img alt="sp6" src="assets/img/sponsor/sp6.png" /></div>
    							<div><img alt="sp7" src="assets/img/sponsor/sp7.png" /></div>
    						</div>
    					</div>
    					<!-- Jssor Slider End -->

    				</div>
    			</div>
    		</div>
    		 <!-- /SPONSORS -->

    		<!--SUBSCRIBE-->
            <section class="subscribe text-center">
    			<div class="subscribe-overlay"></div>
    			<div class="container wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
    				<h1>Subscribe for newsletter</h1>
    				<form action="notify-me.php" id="notifyMe" method="POST" class="center-block align-center col-lg-5 col-md-5 col-sm-10 col-xs-10">
    					<div class="input-group col-lg-12 align-center">
    					  <input type="text" class="form-control email-add" name="email" placeholder="Enter Email Address">
    					  <button class="btn btn-default notify-button"><i class="fa fa-paper-plane"></i><span>Send</span></button>
    					</div>
    				</form>
    			</div>
            </section>
    		<!-- /SUBSCRIBE -->

    		<!--CONTACT-->
            <section class="text-center section-padding contact-wrap" id="contact">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
    						<h1 class="arrow">Contact</h1><hr>
    						<p>Lorem ipsum dolor sit amet, alia honestatis an qui, ne soluta nemore eripuit sed. Falli exerci aperiam ut his, prompta feugiat usu minimum delicata.</p>
    					</div>
    				</div>
    				<div class="row contact-details">
    					<div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
    						<div class="light-box box-hover">
    							<h2><span>Address</span></h2>
    							<p>Level 5,<br> 245 Quigley Bvld,<br>Azuire</p>
    						</div>
    					</div>
    					<div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
    						<div class="light-box box-hover">
    							<h2><span>Phone</span></h2>
    							<p>+61 9 211 3747<br>+61 3 075 8371</p>
    						</div>
    					</div>
    					<div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
    						<div class="light-box box-hover">
    							<h2><span>Email</span></h2>
    							<p><a href="#">mievent@reach.fr</a><br><a href="#">support@reach.com</a><br><a href="#">contact@mievent.com</a></p>
    						</div>
    					</div>
    				</div>
    				<div class="row">
    					<a id="get_directions" class="learn-more-btn btn-effect"  href="#"><i class="fa fa-map-marker"></i><span>Get Directions</span></a>
    				</div>
    				<div class="row">
    					<div class="col-md-12">
    						<ul class="social-buttons">
    							<li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
    							<li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
    							<li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
    							<li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
    							<li><a href="#" class="social-btn"><i class="fa fa-skype"></i></a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
            </section>
    		<!-- /CONTACT -->
{{/partial}}

{{> layouts/base}}