	<!--HEADER-->
  	<div class="header header-hide">
			<div class="container-fluid">
				<nav class="navbar navbar-default" role="navigation">
				   <div class="navbar-header">
					  <button type="button" class="navbar-toggle ui-btn ui-shadow ui-corner-all" data-toggle="collapse" data-target="#example-navbar-collapse">
						 <span class="sr-only">Toggle navigation</span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
					  </button>
					   <a class="navbar-brand ui-link" data-scroll="" href="#sec_1"><img src="assets/img/impact-logo.png" alt="logo"></a>
				   </div>
				   <div class="collapse navbar-collapse" id="example-navbar-collapse">
					  <ul class="nav navbar-nav">
						<li><a data-scroll="" href="home.hbs#whoWeAre" class="ui-link">Who We Are</a></li>
						<li><a data-scroll="" href="home.hbs#whatwedo" class="ui-link">What We Do</a></li>
						<li><a data-scroll="" href="home.hbs#aboutourdata" class="ui-link">About Our Data</a></li>
						<li><a data-scroll="" href="home.hbs#portfolio" class="ui-link">News and Blogs</a></li>
						<li><a data-scroll="" href="home.hbs#news" class="ui-link">FAQ</a></li>
						<li><a data-scroll="" href="home.hbs#contact" class="ui-link">Contact</a></li>
					  </ul>
				   </div>
				</nav>
			</div>
		</div>
	<!--/HEADER-->